* {
  margin: 0;
  padding: 0;
  --prm: #d8baba;
  --txt: #523434;
  --light: #ffdddd;
  --dark: #af9797;
  --g1: #e7c7c7;
  --g2: #c2a7a7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: var(--txt);
}

*:focus-visible {
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 2em 0;
  background: var(--prm);
  box-sizing: border-box;
}
header,
.title {
  color: var(--prmLt);
  font-size: 1.5em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  color: #f1e0e0;
}
.title::after {
  content: "By Dibakash";
  font-family: cursive;
  font-size: 1.5rem !important;
  justify-self: right;
}
main {
  align-self: start;
}
.container {
  width: 30vw;
  min-width: 400px;
  display: grid;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  place-items: center;
  border-radius: 1em;
  background: linear-gradient(145deg, var(--g1), var(--g2));
  box-shadow: 0.5em 0.5em 1em var(--dark), -0.5em -0.5em 1.2em var(--light);
  align-self: start;
  box-sizing: border-box;
}

.itemForm {
  box-sizing: border-box;
  width: 100%;
  min-width: 50%;
  display: flex;
  gap: 0.5em;
  padding: 1em;
  border-radius: 5px;
  background: var(--prm);
  box-shadow: 1px 1px 2px var(--dark), -1px -1px 2px var(--light);
  position: relative;
  align-self: start;
}

.itemForm input[type="text"] {
  border: none;
  border-radius: 3px;
  height: 30px;
  background-color: var(--prm);
  box-shadow: inset 2px 2px 2px var(--dark), inset -2px -2px 2px var(--light);
  color: var(--txt);
}
.itemForm input[type="text"]::placeholder {
  color: rgb(148, 124, 116);
}

#entry {
  flex-basis: 80%;
  padding: 0 1rem 0 1rem;
  min-width: 1rem;
}

.itemForm div {
  flex-basis: 15%;
  display: flex;
  gap: 0.5em;
}
.clicks,
.closeButton {
  border-radius: 8px;
  background: linear-gradient(145deg, var(--g1), var(--g2));
  box-shadow: 4px 4px 5px var(--dark), -4px -4px 5px var(--light);
  flex-basis: 100%;
  min-width: 1rem;
  padding: 0 0.5rem;
  border: none;
  color: var(--txt);
  box-sizing: border-box;
}

.clicks:active,
.closeButton:active {
  border-radius: 8px;
  background: var(--prm);
  box-shadow: inset 4px 4px 5px var(--dark), inset -4px -4px 5px var(--light);
}

.cart {
  display: grid;
  width: 100%;
  justify-items: center;
  align-self: start;
  gap: 1em;
  border-radius: 5px;
  background: var(--prm);
  box-shadow: 1px 1px 2px var(--dark), -1px -1px 2px var(--light);
  position: relative;
  padding: 0.5em;
  box-sizing: border-box;
}
.cart.empty {
  padding: 0;
  display: none;
}

.listItems {
  box-sizing: border-box;
  min-height: 40px;
  padding: 0.5em;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  background: var(--prm);
  box-shadow: 1px 1px 2px var(--dark), -1px -1px 2px var(--light);
}

.itemName {
  background-color: var(--clr1);
  padding: 0 1rem 0 1rem;
  transition: 300ms;
  box-sizing: border-box;
  min-width: 90%;
  display: flex;
  align-items: center;
}

.itemName.full {
  transition-delay: 650ms;
  min-width: 100%;
}

.closeButton {
  transition: 600ms ease;
  display: flex;
  color: var(--txt);
  justify-content: center;
  min-width: 10%;
  z-index: 2;
}

.listItems .closeButton {
  border-radius: 6px;
  padding: 3px 3px !important;
  box-sizing: border-box;
}

.closeButton:after {
  content: "x";
  color: var(--txt);
}

.full + .closeButton {
  transform-origin: right;
  min-width: 0;
  opacity: 0;
  z-index: -1;
}
.closeButton.hide:after {
  content: "";
}

#deleteAll {
  padding: 1em;
  border-radius: 10px;
  background: linear-gradient(145deg, var(--g1), var(--g2));
  box-shadow: 8px 8px 10px var(--dark), -6px -3px 15px var(--light);
  border: none;
}

#deleteAll:active {
  background: var(--prm);
  box-shadow: inset 4px 4px 5px var(--dark), inset -4px -4px 5px var(--light);
}

input:focus-visible,
a:focus-visible {
  outline: 1px dotted #ffc0cb66 !important;
}

input[type="text"]:focus-visible {
  outline: none !important;
}
